#about__container {
  display: flex;
  align-items: center;
  .about {
    padding: 0 2rem;
    position: relative;
    width: 75%;
    margin: 0 auto;
    @media screen and (max-width: 600px) {
      width: 100%;
      margin: 0 auto;
      padding: 0 1rem;
    }
    .about__description {
      margin-top: 10px;
      text-align: justify;

      p {
        line-height: 30px;
      }
      @media screen and (max-width: 1200px) {
        margin-top: 0;
      }

      @media screen and (max-width: 425px) {
        text-align: center;
        h1 {
          margin: 0.5rem;
          text-align: center;
        }
      }
      @media screen and (max-width: 400px) {
        h1 {
          margin: 0rem;
        }
      }
    }

    .about__image {
      float: left;
      width: calc(125px * 2);
      height: calc(166px * 2);
      margin: 0 3rem 1.25rem 0;
      position: relative;
      z-index: 10;
      border-radius: 0.5rem;
      border: 2px solid rgba(var(--secondary-light), 1);
      @media screen and (max-width: 1200px) {
        width: calc(125px * 1.6);
        height: calc(166px * 1.6);
      }
      @media screen and (max-width: 992px) {
        width: calc(125px * 1.4);
        height: calc(166px * 1.4);
      }
      @media screen and (max-width: 767px) {
        width: calc(125px * 1.2);
        height: calc(166px * 1.2);
      }
      @media screen and (max-width: 600px) {
        width: calc(125px * 1);
        height: calc(125px * 1);
        border-radius: 50%;
        overflow: hidden;
        float: none;
        margin: auto;
      }
      @media screen and (max-width: 400px) {
        width: calc(125px * 0.7);
        height: calc(125px * 0.7);
      }
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -10;
        top: 1.5rem;
        left: 1.5rem;
        background-color: rgba(var(--secondary), 0.4);
        background: linear-gradient(135deg, rgb(var(--primary-dark)) 0%, rgb(var(--secondary-dark)) 100%);
        border: 2px solid rgba(var(--secondary-light), 1);

        border-radius: 0.5rem;
        @media screen and (max-width: 600px) {
          display: none;
        }
      }
      img {
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
        @media screen and (max-width: 600px) {
          object-fit: cover;
        }
      }
    }
  }
}
