.link__button {
  margin-top: 2rem;
  &-link {
    font-weight: bold;
    border-radius: 50vw;
    padding: 0.5rem 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    border: 3px solid transparent;
    background-color: rgba(var(--primary-dark), 1);
    color: rgb(var(--primary-text));
    &:hover {
      color: rgb(var(--primary));
      background-color: transparent;
      border: 3px solid rgba(var(--primary), 0.6);
    }

    @media screen and (max-width: 900px) {
      padding: 0.5rem 1.5rem;
    }
  }
}
