.logo__container {
  display: flex;
  width: 200px;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  @media screen and (max-width: 600px) {
    top: 1rem;
    width: 150px;
  }
  svg {
    object-fit: contain;
    width: 100%;
  }
}
