.shape {
  width: 100px;
  aspect-ratio: 1;
  background-color: rgba(var(--secondary-light), 0.8);
  position: absolute;
  z-index: -1;
  --shape-one-light: rgba(var(--secondary-light), 0.5);
  --shape-one-dark: rgba(var(--primary-dark), 0.5);
  --shape-two-light: rgba(var(--primary-light), 0.5);
  --shape-two-dark: rgba(var(--secondary-dark), 0.5);
  --shape-three-light: rgba(var(--primary-dark), 0.5);
  --shape-three-dark: rgba(var(--secondary-dark), 0.5);
}
.circle {
  border-radius: 50%;
}

.rectangle {
  border-radius: 0.5rem;
}

.shape1 {
  background: var(--shape-one-dark);
  background: -webkit-linear-gradient(top left, var(--shape-one-dark), var(--shape-one-light));
  background: -moz-linear-gradient(top left, var(--shape-one-dark), var(--shape-one-light));
  background: linear-gradient(to bottom right, var(--shape-one-dark), var(--shape-one-light));
}

.shape2 {
  background: var(--shape-two-dark);
  background: -webkit-linear-gradient(top left, var(--shape-two-dark), var(--shape-two-light));
  background: -moz-linear-gradient(top left, var(--shape-two-dark), var(--shape-two-light));
  background: linear-gradient(to bottom right, var(--shape-two-dark), var(--shape-two-light));
}

.shape3 {
  background: var(--shape-three-dark);
  background: -webkit-linear-gradient(
    top left,
    var(--shape-three-dark),
    var(--shape-three-light)
  );
  background: -moz-linear-gradient(top left, var(--shape-three-dark), var(--shape-three-light));
  background: linear-gradient(to bottom right, var(--shape-three-dark), var(--shape-three-light));
}
