#experience__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    text-align: center;
  }

  .experience__timeline {
    .vertical {
      margin-inline: auto;
      max-width: 800px;
      max-height: calc(100vh - (55px + 5rem + 50px));
      overflow: auto;
    }

    .horizontal {
      overflow: auto;
      margin: auto;
      @media screen and (max-width: 600px) {
        max-width: calc(100vw - (48px + 30px));
      }
    }

    .timeline__content {
      .company-desc {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin: 1rem 0;

        @media screen and (max-width: 425px) {
          flex-direction: column;
          align-items: flex-start;
        }

        .company-logo {
          max-width: 100%;
          object-fit: contain;
          width: 100px;
          height: 100px;
          background-color: rgba(255, 255, 255, 0.5);
          -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
          border-radius: 0.5rem;
          padding: 0.5rem;
        }
      }
      .duration {
        font-size: 0.8rem;
        color: rgb(var(--surface-text));
        font-weight: 500;
      }

      .company {
        font-size: 1rem;
        font-weight: 700;
        color: rgb(var(--surface-text));
      }
      .role {
        font-size: 1.2rem;
        font-weight: 600;
        color: rgb(var(--primary));
      }
      .description {
        line-height: 25px;
      }
    }
  }
}
