#experience__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    text-align: center;
  }

  .experience__timeline {
    .vertical {
      margin-inline: auto;
      max-width: 800px;
      max-height: calc(100vh - (55px + 5rem + 50px));
      overflow: auto;
    }

    .horizontal {
      overflow: auto;
      margin: auto;
      @media screen and (max-width: 600px) {
        max-width: calc(100vw - (48px + 30px));
      }
    }

    .timeline__content {
      .duration {
        font-size: 0.8rem;
        color: rgb(var(--surface-text));
        font-weight: 500;
        margin-bottom: 1rem;
      }

      .company {
        font-size: 1rem;
        font-weight: 700;
        color: rgb(var(--surface-text));
      }
      .role {
        font-size: 1.2rem;
        font-weight: 600;
        color: rgb(var(--primary));
      }
      .description {
        line-height: 25px;
      }
    }
  }
}
