.project__card__link {
  color: rgb(var(--primary-text));
  text-decoration: none;
  min-width: 400px;
  max-width: 500px;
  display: block;
  @media screen and (max-width: 600px) {
    min-width: 100%;
  }
}
.project__card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
  cursor: pointer;
  background-color: rgba(var(--secondary), 0.4);
  background: linear-gradient(135deg, rgb(var(--primary-dark)) 0%, rgb(var(--secondary-dark)) 100%);
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(var(--secondary), 0.6);


  .project__header {
    display: flex;
    align-items: center;
    gap: 1rem;

    @media screen and (max-width: 600px) {
      flex-direction: column;
    }

    .project__stack__container {
      display: flex;
      gap: 0.2rem;
      flex-wrap: wrap;
      .project__stack {
        padding: 0.25rem;
        background-color: rgb(var(--secondary));
        font-size: 10px;
        color: rgb(var(--gray));
        border-radius: 0.2rem;
      }
    }
  }

  .project__name {
    font-weight: 600;
  }
  .project__image {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    @media screen and (max-width: 600px) {
      width: 100px;
    }
    @media screen and (max-width: 350px) {
      width: 95px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .project__type__container {
    display: flex;
    justify-content: space-between;
    padding: 0.25rem 0;
    color: rgb(var(--gray));
  }
}
